<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center mb-3"> Create new document </h1>
                <%= bootstrap_form_for(@record) do |f| %>
                    <%= bootstrap_form_for :document do |o| %>
                        <%= o.text_field :name %>
                        <%= o.text_area :description %>
                        <%= o.select :doctype_id, Doctype.all.collect{ |p| [ p.name, p.id ]}, { prompt: "Choose document type" } %>
                    <%= f.primary %>
                    <%= link_to "Return", :back %>
                    <% end %>
                <% end %>
        </div>
    </div>
</div>