<div id="<%= dom_id document %>">
  <%= link_to document_path(document.id), class: "list-group-item list-group-item-action", role: "button" do %>
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= document.name %></h5>
        <small> <%= time_ago_in_words(document.routes.last.updated_at) if document.routes.any? %> ago</small>
    </div>
    <h6> <span class="badge bg-success"><%= document.category.name %></span></h6>
    <p><%= document.description %></p>
  <% end %>   
</div>