<%= bootstrap_form_for(document) do |f| %>
	<div class="modal-body">
			<%= f.select :category_id, Category.all.collect{ |p| [ p.name, p.id ]}, { prompt: "Choose document category"} %>
			<%= f.grouped_collection_select :section_id, Division.order(:name), :sections, :name, :id, :name, { prompt: "Choose origin"} %>
			<%= f.text_field :name %>
			<%= f.text_area :description %>
	</div>
	<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<%= f.submit class: "btn btn-primary", data: {action: "click->bs-modal#submitForm"} %>
	</div>

<% end %>