   
<div class="row">
   <div class="d-flex justify-content-between">
    <h1> My document logs </h1>
    <div class="mt-2 p-2">
        <%= link_to "New log", new_document_path, class: "btn btn-success btn-lg", data: {controller: 'document-modal'} %>
    </div>
</div>
</div>
<div class="row justify-content-center my-3 mx-1">
  <div class="col-md-3">
      <h3> Created </h3>
      <div class="trackContainer" id="document_list">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == Document::Status::Created  %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
  <div class="col-md-3">
      <h3> Pending </h3>
      <div class="trackContainer" id="document_list">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == Document::Status::Pending  %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
  <div class="col-md-3">
      <h3> Processing </h3>
      <div class="trackContainer">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == Document::Status::Processing %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
  <div class="col-md-3">
      <h3> Completed </h3>
      <div class="trackContainer">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == Document::Status::Completed %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
</div>