<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h3> New documents </h3>
            <div class="trackContainer">
                <% @documents.each do |document| %>
                    <% if logged_in? && (document.routes.last.receiving_user == current_user || current_user.admin?) %>
                    <% if document.routes.last.action_id == 1 %>
                        <div class="list-group p-1">
                            <a href="/documents/<%=document.id %>/routes/<%=document.routes.last.id%>" class="list-group-item list-group-item-action" aria-current="true">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= document.name %></h5>
                                    <small> <%= time_ago_in_words(document.created_at) %> ago</small>
                                </div>
                                <h6> <span class="badge bg-success"><%= document.category.name %></span></h6>
                                <small>from <%= document.user.username %></small>
                            </a>
                        </div>
                    <% end %> 
                    <% end %>
                <% end %>
            </div>    
        </div>
        <div class="col-md-4">
            <h3> Received </h3>
             <div class="trackContainer">
                <% @documents.each do |document| %>
                    <% if logged_in? && (document.routes.last.receiving_user == current_user || current_user.admin?) %>
                    <% if document.routes.last.action_id == 3 %>
                        <div class="list-group p-1">
                            <a href="/documents/<%=document.id %>/routes/<%=document.routes.last.id%>" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= document.name %></h5>
                                    <small> <%= time_ago_in_words(document.created_at) %> ago</small>
                                </div>
                                <h6> <span class="badge bg-success"><%= document.category.name %></span></h6>
                                <small><%= document.description %></small>
                            </a>
                        </div>
                    <% end %>
                    <% end %>
                <% end %>
            </div>    
        </div>
            <div class="col-md-4">
            <h3>Released:</h3>
            <div class="trackContainer">
                <% @documents.each do |document| %>
                    <% if logged_in? && (document.routes.last.receiving_user == current_user || current_user.admin?) %>
                    <% if document.routes.last.action_id == 4 %>
                        <div class="list-group p-1">
                            <a href="/documents/<%=document.id %>/routes/<%=document.routes.last.id%>" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= document.name %></h5>
                                    <small> <%= time_ago_in_words(document.created_at) %> ago</small>
                                </div>
                                <h6> <span class="badge bg-success"><%= document.category.name %></span></h6>
                                <small><%= document.description %></small>
                            </a>
                        </div>
                    <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

