<div class="container pt-5">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <small class="card-header"><i>Pending</i></small>
                    <div class="card-body">
                        <h5 class="card-title"> <%= @document.name %>
                            <span class="badge bg-success"> <%= @document.category.name %> </span>
                        </h5>
                        <p class="card-text"><%= @document.description %></p>

                        <%= link_to "Route", new_document_route_path(@document), class: "btn btn-primary" %>                    

                        <% if logged_in? && @document.user == current_user || current_user.admin? %>
                            <%= link_to "Edit", edit_document_path(@document) , class: "btn btn-primary"%>
                            <%= link_to "Delete", document_path(@document),
                                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %> 
                        <% end %>
                    </div>
            </div>
        </div>

        <div class="col-6 mt-3">
            <%= bootstrap_form_tag url: '/routes' do |f| %>
                <% if @routes.last.action_id != 1 %>
                    <%= f.select :receiving_user_id, User.all.collect{ |u| [u.username, u.id]}, {prompt: "Choose receiving user"} %>
                <% end %>
                <%= f.select :action_id, Action.all.collect{ |a| [a.actionName, a.id]}, {prompt: "Choose action to be taken"} %>
                <%= f.text_area :remarks %>
                <%= f.primary %>
            <% end %>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <h6>Document Log: </h6>
                <ul class="list-group list-group-flush">
                <% @routes.each do |route| %>
                    <li class="list-group-item"><%= route.action.actionName %> by 
                        <b><%= route.document.user.username %></b> to <b><%= route.receiving_user.username %> </b>   </li>
                <% end %>
                </ul>    
            </div>
        </div   >
            <p><%= link_to "Return", :back %></p>          

    </div>
</div>