
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <small class="card-header"><i>Pending</i></small>
                    <div class="card-body">
                        <h5 class="card-title"> <%= @document.name %>
                            <span class="badge bg-success"> <%= @document.doctype.name %> </span>
                        </h5>
                        <p class="card-text"><%= @document.description %></p>

                        <% if logged_in? && @document.user == current_user || current_user.admin? %>
                            <%= link_to "Edit", edit_document_path(@document) , class: "btn btn-primary"%>
                            <%= link_to "Delete", document_path(@document),
                                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %> 
                        <% end %>
                    </div>
            </div>

           

            <p><%= link_to "Return", :back %></p>
        </div>
    </div>
</div>