<div class="modal-body">
    <%= form_for(:route, url: document_forward_document_path(), method: :post, remote: :true) do |f| %>
        <%= f.hidden_field :document_id, value: @document.id %>
        <%= f.select :destination_user_id, User.all.collect{ |u| [u.username, u.id]}, {prompt: "Forward to"} %>
        <%= f.text_area :remarks %>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= route_form.submit "Send", class: "btn btn-primary", data: {action: "click->bs-modal#submitForm"} %> 
    </div>
    <% end %>
</div>