<div class="row mt-4 justify-content-center">
    <div class="col-6">
    <h3 class="text-center py-5">New route document</h3>

    <%= bootstrap_form_for([@document, @route]) do |f| %>
            <%= f.select :receiving_user_id, User.all.collect{ |u| [u.username, u.id]}, {prompt: "Forward to"} %>
            <%= f.select :action_id, Action.all.collect{ |a| [a.actionName, a.id]}, {prompt: "Choose action to be taken"} %>
            <%= f.text_area :remarks %>
        <%= f.primary %>            
    <% end %>
    
    </div>
</div>