<div class="row d-flex flex-lg-row flex-sm-column flex-xs-column">
  <div class="col-7 p-5 d-flex flex-column" style="height: 600px">
    <div class="document_list">
      <h3 class="mb-3">Document Information: </h3>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Title: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p><%= @found_route.document.name %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Description: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p><%= @found_route.document.description %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Category: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <span class="badge bg-success"><%= @found_route.document.category.name %></span></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Status: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <%= Route.statuses.key(@found_route.status_id) %> </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Origin: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <%= @found_route.document.section.name %> </p>
        </div>
      </div>
      <div class="row row-cols-lg-auto g-2 align-items-center mb-1">
        <% if logged_in? && (@found_route.destination_user == current_user || current_user.admin?) %>
          <% if @found_route.status_id == 1 %>
            <%= form_tag(document_route_path(@document, @found_route), method: :patch, remote: true) do %>
              <%= hidden_field_tag :_method, :patch %>
              <%= hidden_field_tag "route[status_id]", Route.statuses[:Received] %>
              <div class="col-12">
                <input type="submit" value="Accept" class="btn btn-primary">
              </div>
            <% end %>
              <div class="col-12">
                <%= form_for(:route, url: document_decline_document_path(@document), method: :post, remote: :true) do |f| %>
                  <%= f.hidden_field :document_id, value: @document.id %>
                  <%= f.hidden_field :status_id, value: Route.statuses[:Declined] %>
                  <%= f.hidden_field :destination_user_id, value: @document.routes.second_to_last.destination_user_id %>
                  <div class="col-12">
                    <input type="submit" value="Decline" class="btn btn-secondary">
                  </div>
                <% end %>
              </div>
          <% end %>
              <div class="col-12">
                <% if @document.routes.last.status_id != 1 %>
                  <%= link_to "Forward to", new_document_route_path(@document), class: "btn btn-success", data: {controller: 'document-modal'} %>
                <% end %>
              </div>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="col-5 p-5 mb-3">
    <h3 class="mb-3">Route Information: </h3>
      <ul class="list-group list-group-flush">
        <% @routes.each do |route| %>
          <li class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">
                to <%= route.destination_user == current_user ? "you" : route.destination_user.username %>
              </p>
              <small><%= route.created_at.to_fs(:short) %></small>
            </div>    
          </li>
        <% end %>
      </ul>
  </div>
</div>