<div class="row d-flex flex-lg-row flex-sm-column flex-xs-column">
  <div class="col-7 p-5 d-flex flex-column" style="height: 600px">
    <div class="document_list">
      <h3 class="mb-3">Document Information: </h3>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Title: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p><%= @route.document.name %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Description: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p><%= @route.document.description %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Category: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <span class="badge bg-success"><%= @route.document.category.name %></span></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Status: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <%= @route.status_id   %> </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-3 col-sm-12">
          <p><strong>Origin: </strong></p>
        </div>
        <div class="col-lg-9 col-sm-12">
          <p> <%= @route.document.section.name %> </p>
        </div>
      </div>
      <div class="row row-cols-lg-auto g-2 align-items-center mb-1">
        <% if logged_in? && (@route.destination_user == current_user || current_user.admin?) %>
          <% if @route.status_id == 1 %>
            <%= form_tag(document_route_path(@document, @route), method: :patch, remote: true) do %>
              <%= hidden_field_tag :_method, :patch %>
              <%= hidden_field_tag "route[status_id]", Route::Status::Received %>
              <div class="col-12">
                <input type="submit" value="Accept" class="btn btn-primary">
              </div>
            <% end %>
              <div class="col-12">
                <%= link_to "Reject", document_route_path(@document, @route), method: :delete, class: "btn btn-secondary", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } %>
              </div>
          <% end %>
              <div class="col-12">
                <% if @document.routes.last.status_id != 1 %>
                  <%= link_to "Forward to", new_document_route_path(@document), class: "btn btn-success", data: {controller: 'document-modal'} %>
                <% end %>
              </div>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="col-5 p-5 mb-3">
    <h3 class="mb-3">Route Information: </h3>
      <ul class="list-group list-group-flush">
        <% @routes.each do |route| %>
          <li class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">
                to <%= route.destination_user == current_user ? "you" : route.destination_user.username %>
              </p>
              <small><%= route.created_at.to_fs(:short) %></small>
            </div>    
          </li>
        <% end %>
      </ul>
  </div>
</div>