<nav class="navbar navbar-dark navbar-expand-lg ">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand pe-5' do %>
      <%= image_tag "bitmap_Layer 1.png", width: 38 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Categories", categories_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="#">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offices</a>
        </li>
      </ul>
      <div>
      <% if logged_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" >
              <%= current_user.admin? ? 'Admin' : 'User' %> [<%= current_user.username %>]
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
              </li>
              <li>
                 <%= link_to "Log Out", logout_path, class: "dropdown-item log-out", data: {turbo_method: :delete} %>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <%= link_to "Log In", login_path, class: "btn btn-outline-success" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</nav>
