<!DOCTYPE html>
<html>
  <head>
    <title>DocumentTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
  <%= render 'layouts/messages' %>
  <%= render 'layouts/navigation' %>

  <main>
  <%= turbo_frame_tag 'remote_modal'  %>
    <div class="container-fluid p-0">
      <div class="row">
          <%= render 'layouts/sidebar' %>
          <div class="col-auto col-md-9 col-xl-10">
            <%= yield %>
          </div>
      </div>
    </div>
  </main>
  </body>

</html>
